@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../images/bg-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.wrapper {
  height: 100%;
  width: 90%;
  height: max-content;
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 15px 30px;
}
.wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper header .title {
  padding: 15px;
  color: rgb(13, 52, 111);
}
.wrapper header .title .city-name {
  font-size: 40px;
  font-weight: 700;
}
.wrapper header .title .now-date {
  font-size: 16px;
  font-weight: 500;
}
.wrapper header form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  position: relative;
}
.wrapper header form input {
  border: 1px solid wheat;
  border-radius: 18px;
  padding: 8px 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  outline-color: rgb(238, 247, 177);
  font-size: 14px;
}
.wrapper header form .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: transparent;
  border: transparent;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  right: 5px;
}
.wrapper main .main-cont {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.wrapper main .main-cont .top-cont {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  padding: 20px 10px;
}
.wrapper main .main-cont .top-cont .about-temp {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.wrapper main .main-cont .top-cont .about-temp img {
  width: 200px;
  height: 200px;
}
.wrapper main .main-cont .top-cont .about-temp .temp {
  justify-content: center;
  display: flex;
  color: rgb(16, 105, 105);
  font-size: 40px;
  font-weight: 800;
}
.wrapper main .main-cont .top-cont .about-temp .temp span {
  font-size: 100px;
}
.wrapper main .main-cont .top-cont .about-temp .description {
  font-size: 20px;
  font-weight: 500;
}
.wrapper main .main-cont .top-cont .details {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 20px;
}
.wrapper main .main-cont .top-cont .details span {
  font-weight: 600;
}
.wrapper main .main-cont .bottom-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  overflow-x: scroll;
  gap: 10px;
}
.wrapper main .main-cont .bottom-cont .card {
  height: 200px;
  min-width: 125px;
  padding: 10px 0;
  border: 1px solid transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(20px);
  margin-bottom: 5px;
  font-weight: 500;
  gap: 2px;
}
.wrapper main .main-cont .bottom-cont .card .time {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.wrapper main .main-cont .bottom-cont .card .temp {
  font-weight: 700;
  font-size: 20px;
}
.wrapper main .main-cont .bottom-cont .card .description {
  font-size: 12px;
}
.wrapper main .main-cont .bottom-cont .card img {
  max-width: 90px;
  max-height: 90px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 37, 0.607);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.loading .spinner {
  border: 16px solid #a2a2a2;
  border-top: 16px solid rgba(98, 65, 34, 0.8470588235);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s cubic-bezier(0.45, 0.08, 1, 1) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}

::-webkit-scrollbar {
  margin-top: 5px;
  width: 1px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #595959;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 768px) {
  main .main-cont .top-cont {
    gap: 10px;
    padding: 20px 10px;
  }
  main .main-cont .top-cont .about-temp {
    gap: 50px;
  }
  main .main-cont .top-cont .about-temp img {
    width: 200px;
    height: 200px;
  }
  main .main-cont .top-cont .about-temp .temp {
    font-size: 40px;
    font-weight: 800;
  }
  main .main-cont .top-cont .about-temp .temp span {
    font-size: 100px;
  }
  main .main-cont .top-cont .about-temp .description {
    font-size: 20px;
    font-weight: 500;
  }
  main .main-cont .top-cont .details {
    gap: 30px;
    font-size: 20px;
  }
  main .main-cont .top-cont .details div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .main-cont .top-cont .details span {
    font-weight: 600;
  }
}
@media screen and (max-width: 650px) {
  .wrapper {
    padding: 15px 30px;
  }
  .wrapper header .title {
    flex: 1;
    padding: 15px;
  }
  .wrapper header .title .city-name {
    font-size: 35px;
  }
  .wrapper header .title .now-date {
    font-size: 14px;
  }
  .wrapper header form {
    width: 100%;
    flex: 1;
  }
  .wrapper header form input {
    padding: 8px 10px;
    font-size: 14px;
  }
  .wrapper header form .btn {
    font-size: 28px;
    right: 5px;
  }
}
@media screen and (max-width: 570px) {
  .wrapper {
    padding: 15px 30px;
  }
  .wrapper header {
    flex-direction: column-reverse;
  }
  .wrapper header .title {
    text-align: center;
    flex: 1;
    padding: 15px;
  }
  .wrapper header .title .city-name {
    font-size: 40px;
  }
  .wrapper header .title .now-date {
    font-size: 14px;
  }
  .wrapper header form {
    width: 100%;
    flex: 1;
  }
  .wrapper header form input {
    padding: 8px 10px;
    font-size: 14px;
  }
  .wrapper header form .btn {
    font-size: 28px;
    right: 5px;
  }
}
@media screen and (max-width: 500px) {
  .links a {
    text-decoration: none;
  }
  .links a img {
    width: 40px;
    height: 40px;
  }
  .wrapper {
    padding: 20px 10px;
  }
  main .main-cont .top-cont {
    width: 100%;
  }
  main .main-cont .top-cont .about-temp {
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .main-cont .top-cont .about-temp .img img {
    max-width: 130px;
    max-height: 130px;
  }
  main .main-cont .top-cont .about-temp .temp-des .temp {
    font-size: 40px;
    font-weight: 800;
  }
  main .main-cont .top-cont .about-temp .temp-des .temp span {
    font-size: 80px;
  }
  main .main-cont .top-cont .about-temp .temp-des .description {
    font-size: 20px;
    font-weight: 500;
  }
  main .main-cont .top-cont .details {
    width: 100%;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
  main .main-cont .top-cont .details div {
    font-size: 15px;
    border: 1px solid rgba(114, 114, 114, 0.505);
    border-radius: 10px;
    padding: 5px 0;
  }
  main .main-cont .top-cont .details span {
    font-weight: 600;
  }
}

/*# sourceMappingURL=main.css.map */
